# WI-SUN Startup service
# Opens wfan0 using wfantund on startup and restarts kea-dhcp6

[Unit]
Description=Runs /usr/local/bin/startwfan0.sh
After=startup.service
  
[Service]

ExecStart=/usr/local/bin/startwfan0.sh


[Install]

WantedBy=multi-user.target
