# WI-SUN Startup service
# Opens wfan0 using wfantund on startup and restarts kea-dhcp6

[Unit]

Description=Runs /usr/local/bin/startup.sh

  
[Service]

ExecStart=/usr/local/bin/startup.sh

[Install]

WantedBy=multi-user.target
