# Wi-SUN border router service unit file

[Unit]
Description=Wi-SUN border router

[Service]
Type=notify
ExecStart=/usr/local/bin/wisun-border-router

[Install]
WantedBy=network.target
